
/* Reset */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

/* Container */
.container {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(96, 96, 96);
}