/* Reset */

* {
  box-sizing: border-box;
}

body {
  min-width: 960px;
  margin: 0;
  color: var(--color-coolgray-100);
  line-height: 1;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

h1, h2, h3, h4, h5, h6, p {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: var(--color-coolgray-100);
}

img {
  vertical-align: top;
}

button {
  padding: 0;
  cursor: pointer;
  line-height: 1;
  border: none;
  background: none;
}