/* CSS Reset */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

/* Media query */
/* part 1 */

/* 

p {
  font-size: 2rem;
}

@media (max-width: 300px) {
  
  body {
    background-color: orange;
  }
  
}

@media (min-width: 500px) {
  
  body {
    background-color: lightblue;
  }
  
}

@media (max-height: 300px) {
  
  p {
    font-size: 1rem;
  }
  
}

@media (min-height: 500px) {
  
  p {
    background-color: lightgreen;
  }
  
} */

/* part 2 */

main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

section {
  width: 120px;
  height: 120px;
  border-radius: 8px;
}

@media (max-width: 700px) {
  
  main {
    flex-direction: column;
  }
  
  section {
    margin-bottom: 24px;
    border: 1px solid #000;
    background-color: lightskyblue;
  }
  
  section:last-child {
    margin-bottom: 0;
  }
  
}

@media (min-width: 700px) {
  
  section {
    margin-right: 24px;
    background-color: #000;
  }
  
  section:last-child {
    margin-right: 0;
  }
  
}