/* CSS Reset */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

/* 01 */

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #000;;

}

.image1, .image2 {
  margin-right: -80px;
}

.image1 {
  top: 30%;
  z-index: 3;
}

.image2 {
  top: 0%;
  z-index: 2;
}

.image3 {
  top: -30%;
  z-index: 1;
}

img {
  position: relative;
  width: 400px;
  transform : skewY(15deg);
}

img:hover {
  z-index: 999;
  transform : skewY(0deg);
  transition: transform 1.5s;
}

/* 02 */
/* .wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-left: 80px;
  height: 100vh;
}

.box {
  width: 80px;
  height: 80px;
  background-color: lightslategray;
  border: 8px solid #b7e4f7;
  transition: transform 1s, width .4s;
}

.box:hover {
  background-color: lightsalmon;
}

.box-1:hover {
  width: 160px;
}

.box-2:hover {
  transform: translateX(40px) skewX(-45deg);
}

.box-3:hover {
  position: relative;
  border-radius: 50%;
  transform: translateX(240px) rotate(180deg) scale(1.25);
}

.box-4:hover {
  transform: rotateY(360deg) scale(2);
} */

